In [4]:
from tools import *
from strategies import *

In [5]:
Commodoties = ["GC=F"]

In [6]:
pull_symbol("GC=F")

Pulling Information on the Symbol GC=F/n

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2020-07-27 07:00:00-04:00,1941.099976,1941.900024,1933.699951,1935.699951,0,0,0
2020-07-27 08:00:00-04:00,1935.699951,1935.900024,1925.699951,1926.500000,39588,0,0
2020-07-27 09:00:00-04:00,1926.500000,1938.699951,1925.599976,1934.900024,36606,0,0
2020-07-27 10:00:00-04:00,1934.800049,1940.099976,1930.599976,1938.300049,38067,0,0
2020-07-27 11:00:00-04:00,1938.300049,1938.699951,1929.400024,1932.900024,30484,0,0
...,...,...,...,...,...,...,...
2021-07-27 04:00:00-04:00,1798.500000,1799.300049,1794.500000,1795.699951,5071,0,0
2021-07-27 05:00:00-04:00,1795.800049,1798.199951,1795.000000,1796.699951,6194,0,0
2021-07-27 06:00:00-04:00,1796.699951,1797.900024,1795.900024,1796.400024,4682,0,0
2021-07-27 07:00:00-04:00,1796.500000,1797.099976,1794.099976,1796.500000,4002,0,0
2021-07-27 07:32:18-04:00,1796.300049,1796.300049,1796.300049,1796.300049,0,0,0